
body {
  font-family: 'Source Sans Pro', sans-serif;
}
body::before {
  display: block;
  content: "";
  height: 70px;
}

.headline{
  letter-spacing: 3px;
}

.lead {
  letter-spacing: 0.5px;
}

.albert::before {
  content: "Be Brave  ";
  font-size: 1.25rem;
  color: #fff;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  
  .news-input {
    width: 50%;
  }
}